<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dhanchi - Home</title>
    <link rel = "icon" href = "../../static/images/logo5.png" type = "image/x-icon">
    <style>
        body, html {
                height: 100%
                }
        .middle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                }
    </style>
</head>
<body>
    <div style="background-image: url('../../static/images/bg-office.jpg');
                height: 100%;
                background-position: center;
                background-size: cover;
                position: relative;
                color: white;
                font-family: 'Courier New', Courier, monospace;
                font-size: 25px;">
      <div class="middle">
        <h1>Dhanchi!</h1>
        <h1>COMING SOON</h1>
        <hr>
      </div>
    </div>
</body>
</html>