<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="icon" type="image/png" href="static/images/logo4.png"/>
	<title>Dhanchi</title>

	<!-- stylesheet css -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/css/contact.css">
	<!-- google web font css -->
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
	
<!-- navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#home" class="navbar-brand smoothScroll">dhanchi</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#service" class="smoothScroll">SERVICE</a></li>
				<li><a href="#about" class="smoothScroll">ABOUT</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li>
				<!-- <li><a href="#portfolio" class="smoothScroll">PORTFOLIO</a></li>
				<li><a href="#pricing" class="smoothScroll">PRICE</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li> -->
			</ul>
		</div>
	</div>
</div>		

<!-- home section -->
<div id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
				<h2>Welcome to</h2>
				<h1>Dhanchi <strong>Digital</strong></h1>
				<p>Dhanchi technology, an information technology firm, helps uplifting your business/organization by providing
					best IT services.</p>
				<a href="#service" class="btn btn-default smoothScroll">GET STARTED</a>
			</div>
		</div>
	</div>
</div>
		
		 <!-- to your IT products and processes with extensive experience -->
		

<!-- service section -->
<div id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>We provide all IT solutions including</h2>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-flask"></i>
				<h3>Web/Application Developent</h3>
				<p>Our development consultants are trained with a problem-solving attitude! They will suggest and design the best solutions for your company. Our consultant will identify the areas of improvement to strengthen your website’s performance.Send us email about your web/application development</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-desktop"></i>
				<h3>IT help desk/ Desktop Support</h3>
				<p>We assist employees, and IT team to identify, and troubleshoot their hardware, and software related issues. We provide on-site or remote technical assistance for hardware setup or software upgrade or update.  </p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-server"></i>
				<h3>Server Support</h3>
				<p>We monitor your server by providing regular maintenance, and software updates to ensure safeguard your system from cyber attack. We routinely check security settings, and provide updates to them..</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-thin fa-database"></i>
				<h3>Data Backup</h3>
				<p>Your company cannot afford to lose data but there is always a risk of losing them due to accident or some malicious activities.  Don't worry Dhanchi got your back. Here at Dhanchi, we provide data backup service to protect your valuable asset. We provide full back up, and incremental backup service . </p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-file"></i>
				<h3>Networking and Media publishing</h3>
				<p>TWe also provide network publishing service for your web content, reports, or any form of digital assets that you wish them to be available to public.</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-group"></i>
				<h3>Maintainance and Support</h3>
				<p>We also provide panned , or scheduled maintenance service. We also help in analyzing, modifying, and reevaluation your application products by providing corrective, and preventive maintenance service.</p>
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- about section -->
<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Our Story</h2> 
			</div>
			<div class="col-md-6 col-sm-6">
				<img src="static/images/about.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-6">
				<h3>ABOUT US</h3>
				<!-- <h4>Talented Designers &amp; Developers</h4> -->
				<p>We are a group of enthusiastic IT and Business specialists who understand your business needs. We build applications
					and offer infrastructure solution to automate, optimize and synchronize your business workflow.</p>
				<p></p>
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- team section -->
<!-- <div id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>People behind the firm</h2>
			</div>
			<div class="col-md-4 col-sm-6">
				<img src="static/images/team1.jpg" class="img-responsive" alt="team img">
				<h3>Dipak Adhikari</h3>
				<h4>Co-founder</h4>
			</div>
			<div class="col-md-4 col-sm-6">
				<img src="static/images/team2.jpg" class="img-responsive" alt="team img">
				<h3>Prashant Roshyara</h3>
				<h4>Co-founder</h4>
			</div>
			<div class="col-md-4 col-sm-6">
				<img src="static/images/team3.jpg" class="img-responsive" alt="team img">
				<h3>Paul Paudyal</h3>
				<h4>Co-founder</h4>
			</div>
			
		</div>
	</div>
</div> -->

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- portfolio section -->
<!-- <div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="title">
					<h2>Our Portfolio</h2>
				</div>
				ISO section -->
		<!-- 		<div class="iso-section">
					<ul class="filter-wrapper clearfix">
                   		 <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".html">HTML</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Photoshop</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".wordpress">Wordpress</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".mobile">Mobile</a></li>
               		</ul>
               		<div class="iso-box-section">
               			<div class="iso-box-wrapper col4-iso-box">

               				<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img1.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html wordpress mobile col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img2.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img3.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html mobile col-md-6 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img4.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-md-6 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img5.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html photoshop col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img6.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box photoshop col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img7.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img8.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img8.jpg" alt="portfolio img"></a>
               				 </div>

               			</div>
               		</div>

				</div>
			</div>
		</div>
	</div>
</div>	 --> 	

<!-- divider section -->
<!-- <div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div> -->

<!-- pricing section -->
<!-- <div id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Our Pricing</h2>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Starter</h3>
						<small>$100 per month</small>
					</div>
					<ul>
						<li>100 GB STORAGE</li>
						<li>10 TB BANDWIDTH</li>
						<li>10 BASIC THEMES</li>
						<li>24-HOUR RESPONSE</li>
					</ul>
					<button class="btn btn-warning">Sign Up</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Business</h3>
						<small>$350 per month</small>
					</div>
					<ul>
						<li>1,000 GB STORAGE</li>
						<li>50 TB BANDWIDTH</li>
						<li>50 PRO THEMES</li>
						<li>1-HOUR RESPONSE</li>
					</ul>
					<button class="btn btn-warning">Sign Up</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Advanced</h3>
						<small>$500 per month</small>
					</div>
					<ul>
						<li>2,000 GB STORAGE</li>
						<li>100 TB BANDWIDTH</li>
						<li>100 PREMIUM THEMES</li>
						<li>30-MIN RESPONSE</li>
					</ul>
					<button class="btn btn-warning">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>  -->

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!--Contact form-->
<div id="contact">
<div class="container">
	<h1>Contact</h1>
	<h4>Contact us directly if you have any questions</h4>
	<p>
		Please write your name, email address and a message below if you have any questions.
		One of our staff members will be happy to contact you directly and answer your questions as soon as possible. 
	</p>
	<div class="col-md-1 col-sm-1"></div>
	<div class="col-md-10 col-sm-10">
	<form method="post">
		<div class="col-md-10 col-sm-10">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit">Submit</button>
	</div>
	</form>
	</div>

	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div> 

<!-- footer section -->
<footer>
	<div class="container">
		<!-- <div class="row"> -->
			<!-- <div class="col-md-6 col-sm-6">
				<h2>Our Office</h2>
				<p>101 Clean Street, California, CA 10110</p>
				<p>Email: <span>dhanchillc@gmail.com</span></p>
				<p>Phone: <span>010-020-0340</span></p>
			</div> -->
			<!-- <div class="col-md-6 col-sm-6"> -->
				<h2>Connect with Us</h2>
				<ul class="social-icons">
					<li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
					<!-- <li><a href="#" class="fa fa-dribbble"></a></li> -->
				</ul>
			<!-- </div> -->
		<!-- </div> -->
	</div>
</footer>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright &copy; 2023 Dhanchi LLC </p>
			</div>
		</div>
	</div>
</div>

<!-- scrolltop section -->
<a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a>


<!-- javascript js -->	
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>	
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/isotope.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>