<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="icon" type="image/png" href="static/images/logo4.png"/>
	<title>Dhanchi</title>

	<!-- stylesheet css -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/css/contact.css">
	<!-- google web font css -->
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
	
<!-- navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<!-- <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button> -->
			<a href="#home" class="navbar-brand smoothScroll">dhanchi</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#service" class="smoothScroll">SERVICE</a></li>
				<li><a href="#about" class="smoothScroll">ABOUT</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li>
				<!-- <li><a href="#portfolio" class="smoothScroll">PORTFOLIO</a></li>
				<li><a href="#pricing" class="smoothScroll">PRICE</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li> -->
			</ul>
		</div>
	</div>
</div>		

<!-- home section -->
<div id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
				<h2>Welcome to</h2>
				<h1>Dhanchi <strong>Digital</strong></h1>
				<p>At Dhanchi Digital, we specialize in providing top-notch IT services that can take 
					your business or organization to the next level. As an information technology firm, 
					we are dedicated to helping you achieve success by leveraging the latest technology solutions. 
					Whether you need assistance with software development, website design, or IT consulting, 
					our team of experts is here to help. Contact us today to learn more about how we can empower 
					your business with innovative IT solutions.</p>
				<a href="#service" class="btn btn-default smoothScroll">GET STARTED</a>
			</div>
		</div>
	</div>
</div>
		
		 <!-- to your IT products and processes with extensive experience -->
		

<!-- service section -->
<div id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>We provide all IT solutions including</h2>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-flask"></i>
				<h3>Web/Application Developent</h3>
				<p>
					At Dhanchi Digital, we understand that every business has unique needs and challenges when it comes to web and application development.
					That's why our development consultants are equipped with a problem-solving attitude and extensive technical expertise. 
					We work closely with you to understand your requirements and objectives, and suggest the best solutions to strengthen your website's performance and user experience.
					Our consultants are always on the lookout for areas of improvement, and use their expertise to design innovative and efficient solutions tailored to your business. 
					If you're interested in our web/application development services, please feel free to send us an email and we'll be happy to assist you.
				</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-desktop"></i>
				<h3>IT help desk/ Desktop Support</h3>
				<p>At Dhanchi Digital, we specialize in providing technical assistance to employees and IT teams to help them identify and troubleshoot hardware and software related issues. Whether you're facing challenges with hardware setup or require software upgrade or update, 
					our team of experts can provide you with reliable and efficient solutions.
					We offer both on-site and remote technical assistance to ensure that your issues are resolved quickly and efficiently, and your systems are up and running smoothly. Our experienced technicians are equipped with the latest tools and techniques to diagnose and solve any technical issues that may arise. 
					If you need technical assistance with your hardware or software, don't hesitate to contact us today. </p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-server"></i>
				<h3>Server Support</h3>
				<p>At Dhanchi Digital, we understand the critical importance of safeguarding your servers from cyber attacks. 
					That's why we offer comprehensive server monitoring services that include regular maintenance and software updates to ensure optimal performance and security. 
					Our team of experts routinely checks your security settings and provides updates to ensure that your system is protected from potential security threats. 
					We understand that security is a top priority for your business, which is why we use the latest tools and techniques to monitor your server and provide the necessary updates to keep your systems safe and secure. 
					With our server monitoring services, you can rest assured that your systems are in good hands. 
					Contact us today to learn more about how we can help you protect your business from cyber attacks.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-thin fa-database"></i>
				<h3>Data Backup</h3>
				<p>
				At Dhanchi Digital, we understand that data loss can be a major setback for any company. Whether it's due to accidental deletion or malicious activities, losing valuable data can have serious consequences. That's why we offer reliable data backup services to help protect your business and safeguard your valuable assets.
				Our comprehensive data backup services include both full and incremental backups to ensure that all of your critical data is protected. We use the latest technologies and techniques to backup your data securely and efficiently, so you can have peace of mind knowing that your data is always safe and accessible when you need it.
				Don't let data loss hold your business back. Contact Dhanchi Digital today to learn more about our data backup services and how we can help you protect your valuable assets.
				</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-file"></i>
				<h3>Networking and Media publishing</h3>
				<p>
					At Dhanchi Digital, we understand the importance of making your web content, reports, and other digital assets available to the public. That's why we offer reliable network publishing services to help you reach a wider audience and expand your reach.
					Our experienced team is equipped with the latest technologies and tools to publish your digital assets quickly and efficiently. Whether you need to publish web content, reports, or any other type of digital asset, we can help you get your message out to the world.
					Our network publishing services are designed to provide you with maximum visibility and reach, so you can connect with your audience and achieve your goals. Contact us today to learn more about how we can help you with your network publishing needs.
				</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-group"></i>
				<h3>Maintainance and Support</h3>
				<p>
					At Dhanchi Digital, we offer comprehensive maintenance services to help keep your applications running smoothly and efficiently. 
					Our scheduled maintenance services ensure that your systems are up-to-date and performing at their best, 
					while our corrective and preventive maintenance services help you address any issues before they become major problems.
					Our experienced team of experts can help you analyze, modify, and reevaluate your application products to ensure that they meet your evolving business needs. Whether you need minor adjustments or major modifications, we can provide the necessary maintenance services to help you achieve your goals.
					With our maintenance services, you can enjoy peace of mind knowing that your applications are running at peak performance and that any issues will be addressed promptly and effectively. Contact us today to learn more about how we can help you with your maintenance needs.
				</p>
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- about section -->
<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Our Story</h2> 
			</div>
			<div class="col-md-12 col-sm-6">
				<img src="static/images/about.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-12 col-sm-6">
				<h3>ABOUT US</h3>
				<!-- <h4>Talented Designers &amp; Developers</h4> -->
				<p>
					At Dhanchi Digital, we are a team of passionate IT and business specialists who are dedicated to helping you achieve your goals.
					We understand the unique needs of your business, and we work closely with you to build applications and provide infrastructure solutions that can help automate, optimize, and synchronize your business workflow.
					Our team of experts is equipped with the latest technologies and tools to develop custom applications that are tailored to your specific needs. From planning and design to implementation and support, 
					we are committed to delivering solutions that can help you improve efficiency, reduce costs, and drive growth.
					We believe that technology should work for you, not the other way around. That's why we take a personalized approach to every project we undertake, ensuring that we understand your business needs and goals and develop solutions that are aligned with your vision.
					If you're looking for a team of dedicated IT and business specialists to help you achieve your goals, look no further than Dhanchi Digital. Contact us today to learn more about how we can help you transform your business.
				</p>
				<p></p>
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- team section -->
<!-- <div id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>People behind the firm</h2>
			</div>
			<div class="col-md-4 col-sm-6">
				<img src="static/images/team1.jpg" class="img-responsive" alt="team img">
				<h3>Dipak Adhikari</h3>
				<h4>Co-founder</h4>
			</div>
			<div class="col-md-4 col-sm-6">
				<img src="static/images/team2.jpg" class="img-responsive" alt="team img">
				<h3>Prashant Roshyara</h3>
				<h4>Co-founder</h4>
			</div>
			<div class="col-md-4 col-sm-6">
				<img src="static/images/team3.jpg" class="img-responsive" alt="team img">
				<h3>Paul Paudyal</h3>
				<h4>Co-founder</h4>
			</div>
			
		</div>
	</div>
</div> -->

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- portfolio section -->
<!-- <div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="title">
					<h2>Our Portfolio</h2>
				</div>
				ISO section -->
		<!-- 		<div class="iso-section">
					<ul class="filter-wrapper clearfix">
                   		 <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".html">HTML</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Photoshop</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".wordpress">Wordpress</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".mobile">Mobile</a></li>
               		</ul>
               		<div class="iso-box-section">
               			<div class="iso-box-wrapper col4-iso-box">

               				<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img1.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html wordpress mobile col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img2.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img3.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html mobile col-md-6 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img4.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-md-6 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img5.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html photoshop col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img6.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box photoshop col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img7.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img8.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img8.jpg" alt="portfolio img"></a>
               				 </div>

               			</div>
               		</div>

				</div>
			</div>
		</div>
	</div>
</div>	 --> 	

<!-- divider section -->
<!-- <div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div> -->

<!-- pricing section -->
<!-- <div id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Our Pricing</h2>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Starter</h3>
						<small>$100 per month</small>
					</div>
					<ul>
						<li>100 GB STORAGE</li>
						<li>10 TB BANDWIDTH</li>
						<li>10 BASIC THEMES</li>
						<li>24-HOUR RESPONSE</li>
					</ul>
					<button class="btn btn-warning">Sign Up</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Business</h3>
						<small>$350 per month</small>
					</div>
					<ul>
						<li>1,000 GB STORAGE</li>
						<li>50 TB BANDWIDTH</li>
						<li>50 PRO THEMES</li>
						<li>1-HOUR RESPONSE</li>
					</ul>
					<button class="btn btn-warning">Sign Up</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Advanced</h3>
						<small>$500 per month</small>
					</div>
					<ul>
						<li>2,000 GB STORAGE</li>
						<li>100 TB BANDWIDTH</li>
						<li>100 PREMIUM THEMES</li>
						<li>30-MIN RESPONSE</li>
					</ul>
					<button class="btn btn-warning">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>  -->

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!--Contact form-->
<div id="contact">
<div class="container">
	<h1>Contact</h1>
	<h4>Contact us directly if you have any questions</h4>
	<p>
		Please write your name, email address and a message below if you have any questions.
		One of our staff members will be happy to contact you directly and answer your questions as soon as possible. 
	</p>
	<div class="col-md-1 col-sm-1"></div>
	<div class="col-md-10 col-sm-10">
	<form method="post">
		<div class="col-md-10 col-sm-10">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit">Submit</button>
	</div>
	</form>
	</div>

	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div> 

<!-- footer section -->
<footer>
	<div class="container">
		<!-- <div class="row"> -->
			<!-- <div class="col-md-6 col-sm-6">
				<h2>Our Office</h2>
				<p>101 Clean Street, California, CA 10110</p>
				<p>Email: <span>dhanchillc@gmail.com</span></p>
				<p>Phone: <span>010-020-0340</span></p>
			</div> -->
			<!-- <div class="col-md-6 col-sm-6"> -->
				<h2>Connect with Us</h2>
				<ul class="social-icons">
					<li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
					<!-- <li><a href="#" class="fa fa-dribbble"></a></li> -->
				</ul>
			<!-- </div> -->
		<!-- </div> -->
	</div>
</footer>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright &copy; 2023 Dhanchi LLC </p>
			</div>
		</div>
	</div>
</div>

<!-- scrolltop section -->
<a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a>


<!-- javascript js -->	
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>	
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/isotope.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>